<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Didn't find a business?<br>Let an agent help you out</div>
    <div class="card-body">
        <h4 class="card-title">AGENT SMITH</h4>
        <p class="card-text">Welcome Mr. Anderson, let me `help` you out.</p>
    </div>
</div>