<form action="/api/business" method="post">
    <div class="form-group">
        <label for="name">Agent Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="businessHelp" placeholder="Enter business name" name="name">
        <small id="businessHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-success">Add business</button>
</form>