<form action="/api/agent" method="post">
    <div class="form-group">
        <label for="name">Agent Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="agentHelp" placeholder="Enter agent name" name="name">
        <small id="agentHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-success">Add agent</button>
</form>